 <div class="row clearfix">
  <div class="col-md-12">
    {{ include.content | strip | markdownify }}
  </div>
</div>

<!--
<div class="container certifications-container">
  <h3>{{ site.certifications_title | default: "Certifications" }}</h3>
  {% for certifications in site.data.certifications %}
    {% include {{ certifications.layout | default: 'left' | append: ".html" }} item=certifications %}
  {% endfor %}

<div class="container certifications-container">
  <h3>{{ site.certifications_title | default: "Certifications" }}</h3>
  
  
  
<div class="row clearfix layout layout-left">  
  <p>{%- if include.item.link -%}
      {% include a.html href=include.item.link class="link" %}{{ include.item.link }}</a>
    {%- endif -%}
  <a href="//Link to company (optional)" target="_blank" class="link">Link to company (optional)
-->
